# ETL using Python & MS-SQL-Server on Kaggle Orders dataset. <br> Exploring Sales queries using SQL.<br>

In [ ]:
pip install opendatasets

In [ ]:
pip install sqlalchemy

In [11]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (4.0.34)
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: Loading egg at c:\programdata\anaconda3\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..

### Downloading the dataset from Kaggle

In [4]:
import opendatasets as od

dataset_url = 'https://www.kaggle.com/datasets/manoj07d/Furniture-Orders'
od.download(dataset_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: manoj07d
Your Kaggle Key: ········
Dataset URL: https://www.kaggle.com/datasets/manoj07d/Furniture-Orders
Downloading Furniture-Orders.zip to .\Furniture-Orders

100%|████████████████████████████████████████████████████████████████████████████████| 200k/200k [00:00<00:00, 217kB/s]

### Extracting zip file

In [10]:
import zipfile
zipref = zipfile.ZipFile('Furniture-Orders.zip')
zipref.extractall()
zipref.close()

In [2]:
import pandas as pd

In [2]:
df = pd.read_csv('Furniture-Orders\orders.csv')
df.head(20)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,Not Available,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3
10,11,2023-03-31,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,1470,1710,9,3
11,12,2023-12-25,Not Available,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,750,910,4,3
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,20,20,3,3
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,360,410,3,2
14,15,2023-11-09,unknown,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,60,70,5,5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,0,0,3,5
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,610,670,6,3
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,60,60,2,4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,10,10,2,4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,170,210,3,3

### Transform the data

In [31]:
# Replacing 'Not Available','unknown' values with NaN
df = pd.read_csv('Furniture-Orders\orders.csv',na_values=['Not Available', 'unknown'])

In [34]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [23]:
#Correcting datatype of Order date column
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%Y-%m-%d') # %Y in caps
df.dtypes

Order Id                     int64
Order Date          datetime64[ns]
Ship Mode                   object
Segment                     object
Country                     object
City                        object
State                       object
Postal Code                  int64
Region                      object
Category                    object
Sub Category                object
Product Id                  object
cost price                   int64
List Price                   int64
Quantity                     int64
Discount Percent             int64
dtype: object

In [3]:
#Correcting Column names
df.columns = df.columns.str.lower() #Changing all columns to str and to lower case
df.columns = df.columns.str.replace(" ","_")  #Changing all spaces to underscore
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

### Adding some necessary columns

In [4]:
# Deriving Discount col
df['discount'] = df['list_price']*df['discount_percent']*0.01

In [5]:
# Deriving Sales Price col
df['sales_price'] = df['list_price']-df['discount']

In [6]:
# Deriving Profit col
df['profit'] = df['sales_price']-df['cost_price']

### Deleting some unnecessary columns

In [7]:
df.drop(columns=['list_price','cost_price','discount_percent'], inplace=True)

In [8]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

In [11]:
# Writing to a new file
df.to_csv('Furniture-Orders\df_orders.csv',index=False)

### Loading the data to MSSqlServer

In [16]:
import pyodbc

conn = pyodbc.connect(
    "Driver={SQL Server};"
    "Server=MONOZ;"
    "Database=MyDB;"
    "Trusted_Connection=yes;"
)
conn.connect()
cursor = conn.cursor()
cursor.execute("SELECT top 5 * FROM df_orders")
rows = cursor.fetchall()

OperationalError: ('HYT00', '[HYT00] [Microsoft][ODBC SQL Server Driver]Login timeout expired (0) (SQLDriverConnect)')

In [ ]:
#df.to_sql('df_orders', con=conn, index=False, if_exists='append')

## SQL Queries and Data analysis

#### Top 10 highest reveue generating products

In [17]:
query1 = """
select top 10 sub_category, round(sum(sales_price),2) as sales
from df_orders
group by sub_category
order by sales desc
"""
#result = pd.read_sql()
result = pd.read_sql_query(query1, conn)
result

NameError: name 'conn' is not defined

#### Top 10 highest selling products in each region

In [ ]:
query2 = """
with cte as
	(
	select region, sub_category, round(sum(sales_price),2) as sales
	from df_orders
	group by region, sub_category
	)
		select * from
		(
			select *, row_number() over(partition by region order by sales desc) as rn
			from cte
		) A
		where rn<=10
"""
result = pd.read_sql()
result = pd.read_sql_query(query2, conn)
result

#### Month over month growth comparison for 2022 and 2023 sales

In [ ]:
query3 = """
with cte as
	(
		select month(order_date) as sales_months, year(order_date) as sales_years, round(sum(sales_price),2) as sales
		from df_orders
		group by order_date
	)
		select sales_months,
		sum(case when sales_years = 2022 then sales else 0 end) as sales_2022,
		sum(case when sales_years = 2023 then sales else 0 end) as sales_2023
		from cte
		group by sales_months
		order by sales_months
"""
result = pd.read_sql()
result = pd.read_sql_query(query3, conn)
result

#### Highest monthly sales for each category

In [ ]:
query4 = """
with cte as
	(
		select month(order_date) as sales_month, category, round(sum(sales_price),2) as sales
		from df_orders
		group by category, month(order_date)
	)
	select * from
		(
			select *, row_number() over(partition by category order by sales desc) as rn
			from cte
		) A
	where rn=1
"""
result = pd.read_sql()
result = pd.read_sql_query(query4, conn)
result

#### Product with highest growth by profit in 2023 compare to 2022

In [ ]:
query5 = """
with cte as
	(
		select sub_category, year(order_date) as sales_years, round(sum(profit),2) as profit
		from df_orders
		group by sub_category, year(order_date)
	)
	select top 1 *, (profit_2023-profit_2022) as growth
	from(
		select sub_category,
		sum(case when sales_years=2022 then profit else 0 end) as profit_2022,
		sum(case when sales_years=2023 then profit else 0 end) as profit_2023
		from cte
		group by sub_category
		) A
	order by growth desc
"""
result = pd.read_sql()
result = pd.read_sql_query(query5, conn)
result